body {
    background-color: #46c2a3;
    color:rgb(250, 213, 168);
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
   background-color: cadetblue; 
   color:crimson;
   font-family:"Montserrat", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}